/* ====== Style css page Accueil =====*/
@import '../../../styles/variables/var-color.scss';
@import '../../../styles//mixin/mixin.scss';

.s-home {
  @include layoutOne();
  
}
.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid $color-2;
  text-align: center;
}
.home__name-span {
  color: $color-1;
  font-weight: 700;
  text-transform: uppercase;
}
.s-home p {
  font-size: 2.5rem;
  font-weight: 400;
}

@media screen and (max-width: 1130px) { 
  .home__name {
    font-size: 8vw;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
  }
  .s-home p {
    font-size: 5vw;
  }
}



