.contact .social-icons {
    min-width: 30vw;
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 2.2rem;
    font-size: 1.5vw;
  }
  